<ion-content [fullscreen]="true">

  <ion-item>
    <img src="{{imgURL}}" style="width: 500px;height: 450xp;"/>
  </ion-item>

  <ion-list *ngFor="let fotos of fotos">
    <ion-item>
      <img src="{{fotos}}" style="width: 500px;height: 450xp;"/>
    </ion-item>
  </ion-list>

  <ion-fab horizontal="center" vertical="bottom" slot="fixed">
    <ion-fab-button color="light" (click)="getCamera()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button [translucent]="true" (click)="getGalery()">
      <ion-icon name="images-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
