<ion-content [fullscreen]="true">

  <img src="{{imgURL}}" height="200" width="200" />

  <ion-fab horizontal="center" vertical="bottom" slot="fixed">
    <ion-fab-button color="light" (click)="getCamera()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button [translucent]="true" (click)="getGalery()">
      <ion-icon name="images-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
